h1 {
    text-align: left;
    margin-top: 1%;
    margin-bottom: 0%;
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 50px;
    /*color: rgba(232,167,76,1); */
    background: rgba(232,167,76,1);
    background: linear-gradient(90deg, rgba(238,209,225,1) 0%,rgba(235,153,221,1) 10%, rgba(231,111,90,1) 20%, rgba(232,167,76,1) 30%, rgba(232,167,76,1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

img {
    object-fit: cover;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
header {
    position: fixed;
    z-index: 1;
    background-color: white;
    height:100px;
    width: 100%;
    overflow:hidden;
    top: 0%;
}
header span {
    color:palevioletred;
    margin-top: 0.02%;
    font-family: 'Montserrat', sans-serif;
}
body {
    /* background: linear-gradient(90deg, rgba(238,209,225,1) 0%, rgba(235,153,221,1) 30%, rgba(231,111,90,1) 65%, rgba(232,167,76,1) 100%);
    */
    background: white;
}

section {
    padding-top: 80px;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.column {
    float: left;
    width: 25%;
    text-align: center;
}
.dropdown {
    top: 42px;
    right: 100px;
    position: fixed;
}

.dropdown-content {
    display:none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    min-width: 80px;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: palevioletred;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Montserrat', sans-serif;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

button {
    border: 0px;
    background: linear-gradient(90deg, rgba(238,209,225,1) 0%, rgba(235,153,221,1) 30%, rgba(231,111,90,1) 65%, rgba(232,167,76,1) 100%);
    color: white;
    font-size: large;
}

label,p {
    font-weight: bold;
    color: palevioletred;
    text-align: center;
}

h2 {
    text-align: center;
    font-weight: bold;
}

input, section {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
input[type=text] {
    width: 50%;
    padding: 10px 10px;
    margin: 4px 0;
    box-sizing: border-box;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.submitbutton {
    border: 0px;
    background: linear-gradient(90deg, rgba(238,209,225,1) 0%, rgba(235,153,221,1) 30%, rgba(231,111,90,1) 65%, rgba(232,167,76,1) 100%);
    color: white;
    font-size: large;
}