<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8">
    <meta name = "description" content ="This is home page or landing page" >
    <meta name = "keyword" content = "html java mysql put 10 or 15 keywords for google">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Choose  Meals</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&family=Montserrat:wght@200&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="choosemealsstyle.css">

</head>
<head>
    <title>Choose Meals</title>


    </style>
</head>

<body>
<header>
    <h1>More Than Salad</h1>
    <span id="changeme">Hope you're having an amazing day!</span>

    <div class="dropdown">
        <button>Menu</button>
        <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>
</header>
<section>
    <img src = "https://images.unsplash.com/photo-1541014741259-de529411b96a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80" id = "highlightedmeal"/>
    <p class = "LeftLabels">Get excited! You have 4 meals to choose from these delicious options:</p>
    <div style="overflow-x:auto;">
            <table style="width:100%">
                <tr>
                    <td><img src = "https://images.unsplash.com/photo-1484980972926-edee96e0960d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80" width = "300px" height = "300px" /></td>
                    <td><img src = "https://images.unsplash.com/photo-1497888329096-51c27beff665?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80" width = "300px" height = "300px" /></td>
                    <td><img src = "https://images.unsplash.com/photo-1585238342070-61e1e768b1ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1600&q=80" width = "300px" height = "300px" /></td>
                    <td><img src = "https://images.unsplash.com/photo-1541014741259-de529411b96a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80" width = "300px" height = "300px" /></td>
                </tr>
                <tr>
                    <td><p>Fresh pesto hummus with tomato, cucumber, and pita</p></td>
                    <td><p>Oats with coconut yogurt, passion fruit, orange, and berries</p></td>
                    <td><p>Southwestern cous cous bowl with vegan chicken, corn, and avocado</p></td>
                    <td><p>Tofu and vegetable summer rolls with spicy peanut dipping sauce</p></td>
                </tr>
                <tr>
                    <td><img src = "https://images.unsplash.com/photo-1498601761256-9e93c6f5c181?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1442&q=80" width = "300px" height = "300px" /></td>
                    <td><img src = "https://images.unsplash.com/photo-1580916883250-437bcb0fec1d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" width = "300px" height = "300px" /></td>
                    <td><img src = "https://images.unsplash.com/photo-1551978129-b73f45d132eb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1408&q=80" width = "300px" height = "300px" /></td>
                    <td><img src = "https://images.unsplash.com/photo-1518779578993-ec3579fee39f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1275&q=80" width = "300px" height = "300px" /></td>
                </tr>
                <tr>
                    <td><p>Vegetable stir fry with soba noodles and sesame</p></td>
                    <td><p>Arugala, apple, pomegranate, and walnut salad with citrus vinegarette</p></td>
                    <td><p>Flatbread with arugala, fresh tomato, sun dried tomato, red onion, and balsamic glaze</p></td>
                    <td><p>Roasted stuffed eggplant topped with cashew cream paired with a tomato, red onion, and bell pepper salad</p></td>
                </tr>
            </table>
    </div>
    <div>
        <form th:action = "@{/successaddedmeals}" method = "post">
            <p th:text = "${session.user.id}"></p>
            <label>Please enter the number above</label>
            <input type ="text" name ="id" id = "id" th:value = "${id}">
            <label>Meal Code</label>
            <input type ="text" name = "mealcode1" id = "mealcode1" th:value = "${mealcode1}">
            <input type ="text" name = "mealcode2" id = "mealcode2" th:value = "${mealcode2}">
            <input type ="text" name = "mealcode3" id = "mealcode3" th:value = "${mealcode3}">
            <input type ="text" name = "mealcode4" id = "mealcode4" th:value = "${mealcode4}">
            <input type = "submit" value = "Choose Meal">
        </form>
    </div>
</section>
<footer></footer>
</body>
</html>
