<!DOCTYPE html>
<html lang="en"

      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset = "utf-8">
    <meta name = "description" content ="This is home page or landing page" >
    <meta name = "keyword" content = "html java mysql put 10 or 15 keywords for google">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&family=Montserrat:wght@200&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="homepagestyle.css">

</head>
<head>
    <title>Home Page</title>


    </style>
</head>

<body>
<header>
    <h1>More Than Salad</h1>
    <span id="changeme">Please press any key</span>
    <span th:text="${session.user.firstname} + '!'"></span>
    <div class="dropdown">
        <button>Menu</button>
        <div class="dropdown-content">
            <a href="/profile">Profile</a>
            <a href="/home">Home</a>
            <a href="/choosemeals">Meals</a>
            <a href="/addmeal">Add Meal</a>
            <a href="/vieworders">View Orders</a>
            <a href="/deliveries">Deliveries</a>
            <a href="/allmeals">All Meals</a>
        </div>
    </div>
</header>
<section>
    <img src = "https://images.unsplash.com/photo-1501619951397-5ba40d0f75da?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cGluayUyMG9yYW5nZSUyMHN1bnNldHxlbnwwfDB8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1200&q=60" id = "sunsetoftheweek"/>
    <p class = "LeftLabels">Your meals this week:</p>
    <p th:if="${session.user.meals.isEmpty()}">No meals selected.</p>
    <div style="overflow-x:auto;">
        <div th:if="${!session.user.meals.isEmpty()}">
        <table style="width:100%">
            </tr>
<!--            <tr>-->
<!--                <td><img th:attr="src=${session.user.meals[0].photourl} ?: 'https://www.smartdatajob.com/images/joomlart/demo/default.jpg'" width = "300px" height = "300px" /></td>-->
<!--                <td><img th:attr="src=${session.user.meals[1].photourl} ?: 'https://www.smartdatajob.com/images/joomlart/demo/default.jpg'" width = "300px" height = "300px" /></td>-->
<!--                <td><img th:attr="src=${session.user.meals[2].photourl} ?: 'https://www.smartdatajob.com/images/joomlart/demo/default.jpg'" width = "300px" height = "300px" /></td>-->
<!--                <td><img th:attr="src=${session.user.meals[3].photourl} ?: 'https://www.smartdatajob.com/images/joomlart/demo/default.jpg'" width = "300px" height = "300px" /></td>-->
<!--            </tr>-->
            <tr>
                <td><img th:attr="src=${session.user.meals[0].photourl}" width = "300px" height = "300px" /></td>
                <td><img th:attr="src=${session.user.meals[1].photourl}" width = "300px" height = "300px" /></td>
                <td><img th:attr="src=${session.user.meals[2].photourl}" width = "300px" height = "300px" /></td>
                <td><img th:attr="src=${session.user.meals[3].photourl}" width = "300px" height = "300px" /></td>
            </tr>
            <tr>
                <td><p th:text="${session.user.meals[0].mealdescription}"></p></td>
                <td><p th:text="${session.user.meals[1].mealdescription}"></p></td>
                <td><p th:text="${session.user.meals[2].mealdescription}"></p></td>
                <td><p th:text="${session.user.meals[3].mealdescription}"></p></td>
            </tr>
        </table>
        </div>
    </div>
    <p class = "LeftLabels">Check out some of our highlighted options this week:</p>
    <div style="overflow-x:auto;">
        <table style="width:100%">
            <tr>
                <td><img th:attr="src=${allMeals[1].photourl}" width = "300px" height = "300px" /></td>
                <td><img th:attr="src=${allMeals[4].photourl}" width = "300px" height = "300px" /></td>
                <td><img th:attr="src=${allMeals[7].photourl}" width = "300px" height = "300px" /></td>
                <td><img th:attr="src=${allMeals[5].photourl}" width = "300px" height = "300px" /></td>
                </tr>
            <tr>
                <td><p th:text="${allMeals[1].mealdescription}"></p></td>
                <td><p th:text="${allMeals[4].mealdescription}"></p></td>
                <td><p th:text="${allMeals[7].mealdescription}"></p></td>
                <td><p th:text="${allMeals[5].mealdescription}"></p></td>
            </tr>
        </table>
    </div>
</section>
<footer></footer>
</body>
<script type="text/javascript">
    console.log("=======im trying to change words=========")
    document.addEventListener('keypress', custommessage());
    function custommessage()
    {
        var a = new Date();
        var c = getWeekday(a.getDay());
        console.log("Happy " + c + "!");
        document.getElementById('changeme').innerHTML="Happy " + c + ",";
    }
    function getWeekday(n)
    {
        var weekday = "day";
        switch(n)
        {
            case 0:
                weekday = "Sunday";
                break;
            case 1:
                weekday = "Monday";
                break;
            case 2:
                weekday = "Tuesday";
                break;
            case 3:
                weekday = "Wednesday";
                break;
            case 4:
                weekday = "Thursday";
                break;
            case 5:
                weekday = "Friday";
                break;
            case 6:
                weekday = "Saturday";
                break;
        }
        return weekday;
    }
</script>
</html>
