<!DOCTYPE html>
<html lang="en"

      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset = "utf-8">
    <meta name = "description" content ="This is home page or landing page" >
    <meta name = "keyword" content = "html java mysql put 10 or 15 keywords for google">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&family=Montserrat:wght@200&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="homepagestyle.css">

</head>
<body>
<header>
    <h1>More Than Salad</h1>
    <span id="changeme">Please press any key</span>
    <span th:text="${session.user.firstname} + '!'"></span>
    <div class="dropdown">
        <button>Menu</button>
        <div class="dropdown-content">
            <a href="/profile">Profile</a>
            <a href="/home">Home</a>
            <a href="/choosemeals">Meals</a>
            <a href="/addmeal">Add Meal</a>
            <a href="/vieworders">View Orders</a>
            <a href="/deliveries">Deliveries</a>
            <a href="/allmeals">All Meals</a>
            <a href="/listusers">View Users</a>
        </div>
    </div>
</header>
<section>
<form th:action="@{/listusers}">
    <input type="text" name="username" id="username" th:value="${username}" required />
    <input type="text" name="password" id="password" th:value="${password}" required />
    <input type="submit" value="Search" />
    <input type="button" value="Clear" onclick="clearSearch()" />
</form>
<h1>User exists with Username And Password:</h1>
<table>
    <thead>
    <tr>
        <th> Valid? </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${isValid}"></td>
    </tr>
    </tbody>
</table>
<h1>All Users</h1>
<table>
    <thead>
    <tr>
        <th> ID </th>
        <th> First </th>
        <th> Last </th>
        <th> Email </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${listUsers.empty}">
        <td colspan="2"> No Users Available </td>
    </tr>
    <tr th:each="lu : ${listUsers}">
        <td><span th:text="${lu.id}"></span></td>
        <td><span th:text="${lu.firstname}"></span></td>
        <td><span th:text="${lu.lastname}"></span></td>
        <td><span th:text="${lu.email}"></span></td>
    </tr>
    </tbody>
</table>
</section>
</body>
<script type="text/javascript">
    console.log("=======im trying to change words=========")
    document.addEventListener('keypress', custommessage());
    function custommessage()
    {
        var a = new Date();
        var c = getWeekday(a.getDay());
        console.log("Happy " + c + "!");
        document.getElementById('changeme').innerHTML="Happy " + c + ",";
    }
    function getWeekday(n)
    {
        var weekday = "day";
        switch(n)
        {
            case 0:
                weekday = "Sunday";
                break;
            case 1:
                weekday = "Monday";
                break;
            case 2:
                weekday = "Tuesday";
                break;
            case 3:
                weekday = "Wednesday";
                break;
            case 4:
                weekday = "Thursday";
                break;
            case 5:
                weekday = "Friday";
                break;
            case 6:
                weekday = "Saturday";
                break;
        }
        return weekday;
    }
    function clearSearch() {
        window.location = "[[@{/listusers}]]";
    }
</script>
</html>