<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8">
    <meta name = "description" content ="This is home page or landing page" >
    <meta name = "keyword" content = "html java mysql put 10 or 15 keywords for google">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Account Settings</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&family=Montserrat:wght@200&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="profilestyle.css">

</head>
<body>
<header>
    <h1>More Than Salad</h1>
    <span id="changeme">Please press any key</span>
    <span th:text="${session.user.firstname} + '!'"></span>
    <div class="dropdown">
        <button>Menu</button>
        <div class="dropdown-content">
            <a href="/profile">Profile</a>
            <a href="/home">Home</a>
            <a href="/choosemeals">Meals</a>
            <a href="/addmeal">Add Meal</a>
            <a href="/vieworders">View Orders</a>
            <a href="/deliveries">Deliveries</a>
            <a href="/allmeals">All Meals</a>
            <a href="/listusers">View Users</a>
        </div>
    </div>
</header>
<section>
    <h2>Account Settings</h2>
    <p class = "LeftLabels">Contact Info</p>
    <div style="overflow-x:auto;">
        <form th:action = "@{/updatedcontact}" method = "post">
            <table style="width:100%">
                <tr>
                    <td>First Name: <span th:text="${session.user.firstname}"></span></td>
                    <td>Last Name: <span th:text="${session.user.lastname}"></span></td>
                    <td>Email: <span th:text="${session.user.getEmail()}"></span></td>
                </tr>
                <tr>
                    <td><p><input type = "text" name ="fname" id = "fname" placeholder="New First Name" /></p></td>
                    <td><p><input type = "text" name = "lname" id = "lname" placeholder = "New Last Name" /></p></td>
                    <td><p><input type = "text" name = "email" id = "email" placeholder = "New Email" /></p></td>
                </tr>
                <tr>
                    <td>Username: <span th:text="${session.user.username}"></span></td>
                    <td>Password: <span th:text="${session.user.password}"></span></td>
                    <td>Meals donated: <span th:text="${mealnum}"></span></td>
                </tr>
                <tr>
                    <td><p><input type = "text" name = "uname" id = "uname" placeholder = "New Username" /></p></td>
                    <td><p><input type = "text" name = "pass" id = "pass" placeholder = "New Password" /></p></td>
                </tr>
                <input type = "submit" value = "Submit" class = "submitbutton" id = "submitContactUpdate">
            </table>
        </form>
        <button onclick="viewUpdateContactForm()">Update Contact Info</button>
    </div>
</section>
<section>
    <p class = "LeftLabels">Delivery Info</p>
    <div style="overflow-x:auto;">
        <form th:action = "@{/updatedshipping}" method = "post">
            <table style="width:100%">
                <tr>
                    <td>Shipping Address 1: <span th:text="${cs.getCustomershipadd1()}"></span></td>
                    <td>Shipping Address 2: <span th:text="${cs.getCustomershipadd2()}"></span></td>
                    <td>City: <span th:text="${cs.getCustomercity()}"></span></td>
                </tr>
                <tr>
                    <td><p><input type = "text" name ="customershipadd1" id = "customershipadd1" placeholder="New Address Line 1" /></p></td>
                    <td><p><input type = "text" name ="customershipadd2" id = "customershipadd2" placeholder="New Address Line 2" /></p></td>
                    <td><p><input type = "text" name ="customercity" id = "customercity" placeholder="New City" /></p></td>
                </tr>
                <tr>
                    <td>State: <span th:text="${cs.getCustomerstate()}"></span></td>
                    <td>Zip Code: <span th:text="${cs.getCustomerzip()}"></span></td>
                </tr>
                <tr>
                    <td><p><input type = "text" name ="customerstate" id = "customerstate" placeholder="New State" /></p></td>
                    <td><p><input type = "text" name ="customerzip" id = "customerzip" placeholder="New Zip Code" /></p></td>
                    <input type = "submit" value = "Submit" class = "submitbutton" id = "submitDeliveryUpdate">
                </tr>
            </table>
        </form>
        <button onclick="viewUpdateDeliveryForm()">Update Delivery Info</button>
    </div>
</section>
<!--<section>-->
<!--    <p class = "LeftLabels">Payment Info</p>-->
<!--    <div style="overflow-x:auto;">-->
<!--        <form>-->
<!--            <table style="width:100%">-->
<!--                <tr>-->
<!--                    <td>Card number: 4000 8000 7600 9000</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td><p><input type = "text" id = "cardnum" placeholder = "0" /></p></td>-->
<!--                </tr>-->
<!--            </table>-->
<!--            <input type = "submit" value = "Submit" class = "submitbutton" id = "submitPaymentUpdate">-->
<!--        </form>-->
<!--        <button onclick="viewUpdatePaymentForm()">Update Payment Info</button>-->
<!--    </div>-->
<!--</section>-->
<!--<section>-->
<!--    <p class = "LeftLabels">Meal Info</p>-->
<!--    <div style="overflow-x:auto;">-->
<!--        <form>-->
<!--            <table style="width:100%">-->
<!--                <tr>-->
<!--                    <td>Number of meals per week: 4</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td><p><input type = "text" id = "mealnum" placeholder = "0" /></p></td>-->
<!--                </tr>-->
<!--            </table>-->
<!--            <input type = "submit" value = "Submit" class = "submitbutton" id = "submitMealUpdate">-->
<!--        </form>-->
<!--        <button onclick="viewUpdateMealForm()">Update Meal Info</button>-->
<!--    </div>-->
<!--</section>-->
<!--<section>-->
<!--    <p class = "LeftLabels">Cancel</p>-->
<!--    <form action="https://google.com">-->
<!--        <input type="submit" value="Cancel my plan" />-->
<!--    </form>-->
<!--</section>-->
<footer></footer>
</body>
<script type="text/javascript">
    function viewUpdateContactForm(){
        document.getElementById('fname').style.display='block';
        document.getElementById('lname').style.display='block';
        document.getElementById('email').style.display='block';
        document.getElementById('uname').style.display='block';
        document.getElementById('pass').style.display='block';
        document.getElementById('submitContactUpdate').style.display='block';
    }
    function viewUpdateDeliveryForm(){
        document.getElementById('customershipadd1').style.display='block';
        document.getElementById('customershipadd2').style.display='block';
        document.getElementById('customercity').style.display='block';
        document.getElementById('customerstate').style.display='block';
        document.getElementById('customerzip').style.display='block';
        document.getElementById('submitDeliveryUpdate').style.display='block';
    }
    function viewUpdatePaymentForm(){
        document.getElementById('cardnum').style.display='block';
    }
    function viewUpdateMealForm(){
        document.getElementById('mealnum').style.display='block';
    }
        console.log("=======im trying to change words=========")
        document.addEventListener('keypress', custommessage());
        function custommessage()
        {
            var a = new Date();
            var c = getWeekday(a.getDay());
            console.log("Happy " + c + "!");
            document.getElementById('changeme').innerHTML="Happy " + c + ",";
        }
        function getWeekday(n)
        {
            var weekday = "day";
            switch(n)
        {
            case 0:
            weekday = "Sunday";
            break;
            case 1:
            weekday = "Monday";
            break;
            case 2:
            weekday = "Tuesday";
            break;
            case 3:
            weekday = "Wednesday";
            break;
            case 4:
            weekday = "Thursday";
            break;
            case 5:
            weekday = "Friday";
            break;
            case 6:
            weekday = "Saturday";
            break;
        }
            return weekday;
        }
</script>
</html>
